__pycache__
_build
.*.swp
.coverage
.coverage.*
.DS_Store
.env
.eslintcache
.firebase*
.grunt
.idea
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.node_repl_history
.npm
.nyc_output
.project
.pydevproject
.settings
.vscode/*
.yarn-integrity
*.a
*.aux
*.c
*.cache
*.egg*
*.log
*.o
*.pdf
*.pid
*.pid.lock
*.py[co]
*.seed
*.so
*.tgz
*.toc
*/cython_version.py
*~
/.pytest_cache
/pytest.ini
\#*\#
bower_components
build
build/Release
conf_files/*_local.yaml
coverage
develop-eggs
dist
distribute-*.tar.gz
docs/_build
docs/api
eggs
htmlcov
lib-cov
logs
MANIFEST
**/node_modules/**
parts
pids
sdist
sftp-config.json
var
TODO.md
.spyproject
venv/*
