-e git+git://github.com/panoptes/panoptes-utils@develop#egg=panoptes-utils
-e git+git://github.com/panoptes/panoptes-pipeline@develop#egg=panoptes-pipeline
astropy
bokeh
flask
flask-cors
hvplot
pandas
panel
pendulum
