{% extends base %}

<!-- goes in head -->
{% block postamble %}

{% endblock %}

<!-- goes in body -->
{% block contents %}

    <!-- START NAV -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">PANOPTES Data Explorer</a>
    </nav>
    <!-- END NAV -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h1><span class="badge badge-info">{{ total_hours }}</span></h1>
                        <h3>Hours Exptime</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h1><span class="badge badge-info">{{ total_observations }}</span></h1>
                        <h3>Observations</h3>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card">
                    <div class="card-body">
                        <h1><span class="badge badge-info">{{ total_images }}</span></h1>
                        <h3>Images</h3>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h1><span class="badge badge-info">{{ total_units }}</span></h1>
                        <h3>Units</h3>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card events-card">
                    <div class="card-table">
                        <div class="content">
                            {{ embed(roots.statsExplorer) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light">
            <div class="col">
                <div class="card events-card">
                    <h5 class="card-title">Observations</h5>
                    <div class="card-table">
                        {{ embed(roots.obsExplorer) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}