{% from macros import embed %}

<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    {% block inner_head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>
      {% block preamble %}{% endblock %}
      {% block resources %}
        {% block css_resources %}
          {{ bokeh_css | indent(8) if bokeh_css }}
        {% endblock %}
        {% block js_resources %}
          {{ bokeh_js | indent(8) if bokeh_js }}
        {% endblock %}
      {% endblock %}
      {% block postamble %}{% endblock %}
    {% endblock %}
    <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
  </head>
  {% endblock %}
  {% block body %}
  <body>
    <section class="section-secondary">
        {% block inner_body %}
          {% block contents %}
            {% for doc in docs %}
              {{ embed(doc) if doc.elementid }}
              {% for root in doc.roots %}
                <div class="card">
                  {% block root scoped %}
                    {{ embed(root) | indent(10) }}
                  {% endblock %}
                </div>
              {% endfor %}
            {% endfor %}
          {% endblock %}
          {{ plot_script | indent(8) }}
        {% endblock %}
    </section>
  </body>
  {% endblock %}
</html>
