html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
    background: #ECF0F3;
}

nav.navbar {
    border-top: 4px solid #276cda;
    margin-bottom: 1rem;
}

.navbar-item, .navbar-link {
    font-weight: 700;
}

.menu-list a {
    color: #0F1D38;
    font-size: 14px;
    font-weight: 700;
}

.menu-list a:hover {
    background-color: transparent;
    color: #276cda;
}

.menu-list a.is-active {
    background-color: transparent;
    color: #276cda;
    font-weight: 700;
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
}

.info-tiles .subtitle {
    font-weight: 300;
    color: #8F99A3;
}

.card-body {
    min-width: 17rem;
}

.card .content {
    font-size: 14px;
}

.card-table .table {
    margin-bottom: 0;
}

.events-card .card-table {
    max-height: 500px;
    overflow: no-display;
}

.bk-root .bk-data-table .slick-row {
    font-size: 0.9rem;
    font-family: monospace;
}