Flask
google-cloud-bigquery
google-cloud-storage
google-cloud-firestore
gunicorn
pandas
pendulum
python-dateutil
requests
panoptes-utils[images]>=0.2.33
git+https://github.com/panoptes/panoptes-pipeline@develop#egg=panoptes-pipeline
