astropy
Flask
google-cloud-pubsub
google-cloud-storage
gunicorn
numpy
pandas
tqdm
requests
-e git+git://github.com/panoptes/panoptes-utils.git@develop#egg=panoptes-utils
-e git+git://github.com/panoptes/PIAA.git@develop#egg=piaa
